@page
@using System.Security.Claims
@model SimpleBlog.Pages.Blogs.IndexModel

@{
    ViewData["Title"] = "Index";
    var userIdClaim = User?.FindFirst(ClaimTypes.NameIdentifier)?.Value;
    int.TryParse(userIdClaim, out var currentUserId);
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Blogs[0].AuthorName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Blogs[0].Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Blogs[0].CreatedDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Blogs[0].LastUpdatedDate)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Blogs) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.AuthorName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedDate)
            </td>
            <td>
                    @if (item.LastUpdatedDate is not null)
                    {
                        @Html.DisplayFor(modelItem => item.LastUpdatedDate)
                    }
                    else
                    {
                        <text>Never</text>
                    }
            </td>
            <td>
                <a asp-page="./Details" asp-route-id="@item.Id">Details</a> 
                @if (currentUserId == item.AuthorId)
                {
                <text> | </text>
                <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a>
                <text> | </text>
                <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
                }
            </td>
        </tr>
}
    </tbody>
</table>
